
@{
    ViewBag.Title = "İşlem Başarılı";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mt-3">Sipariş Tamamlandı!</h2>
            <h4 class="mt-1">Satın aldığınız ürünler en kısa zamanda kargoya verilecektir.</h4>
        </div>
    </div>
</div>

