
@{
    ViewBag.Title = "Hakkımızda";
}

<div  class="container " >
    <div style="margin: 15px;" class="row">
        <p>
            Türkiye genelinde istikrarlı bir altyapı gelişimi sergileyerek bugün 300’ ü aşkın uzman dinamik
            kadrolu çözüm ortaklığı çerçevesinde ürünlerin satış ve pazarlamasının,
            paralel olarak da ürünlerin eğitim, destek ve danışmanlık hizmetlerinin
            arkasında bulunmaktadır. Ülkemizin önde gelen yazılım firması Shepherd Yazılım,
            bilgi birikimi ile güvenilir, yenilikçi ve özgün çözümler geliştirir. Ürünlerini;
            Çözüm Ortakları ve Yetkili Satıcıları ile pazarlar, uygulama, eğitim ve destek hizmetlerini
            sunar. Planlı ve kararlı uygulamaları, ürün pazar payını artırmış, markalaşmasını sağlamıştır.
            IT Sektörünün lider firmalarından Shepherd Yazılım hizmetlerini, Toplam kaliteden ödün vermeden sunar.
        </p>
        

        <br/>
        <br/>ISO 9001 : 2000 KALİTE SERTİFİKA TÜV NORD CERT
        <br/>ShepherdWİN MARKA TESCİL T.C. TPE
        <br/>ShepherdSMART MARKA TESCİL T.C. TPE
        <br/>CERTIFIED PARTNER İŞ ORTAKLIĞI MICROSOFT
        <br/>ISV UZMANLIK ALANI MICROSOFT <br/><br />

        <p >
            Shepherd Yazılım'ın odaklandığı başlıklar; ERP, MRP 2 ( Üretim Planlama Takip ve Kontrol), Sipariş - 
            Satın Alma - Stok Planlama - Lojistik Yönetimi, Kanal Yönetimi, Finans - Muhasebe Yönetimi, Terazi - 
            Yazarkasa - POS - Perakende Çözümler, BARKOD Uygulamaları, El terminali Uygulamaları, Sıcak Satış 
            ( Hot Sell ), Restoran - Cafe -Fastfood Yönetimi, Personel Verimlilik Takip Kontrol, RF / ID 
            uygulamalarıdır.

        </p>
        




    </div>
</div>

